body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, sans-serif;
}

#app {
  padding: 10px;
}

ul#spooky-places-list {
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;

}

ul#spooky-places-list li {
  padding: 10px;
  background-color: white;
}

ul#spooky-places-list li .map {
  margin-top: 10px;
}

form div {
  margin-bottom: 10px;
}

.form-inline {
  display:flex;
  width: 100%;
  padding: 12px;
  border: 3px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  align-items: center;
  justify-content: space-between;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {

}

.form-inline {
  flex-direction: row;
    align-items: baseline;
}

*{
  box-sizing: border-box;
}


.ghost{
  width: 250px;
  height:300px;
  position: fixed;
  margin:140px auto;
  margin-right: 120px;
  margin-left: 560px;
  animation: ghost_bottom_float 2.5s infinite;
  animation-fill-mode:both;


}

.ghost_head{
  width:100%;
  height:250px;
  border-radius:50% 50% 0 0;
  background-color:#fff;
  border: solid;
  /* border-color: grey; */
}

.ghost_eye{
  position:absolute;
  width:25px;
  height:25px;
  border-radius:50%;
  top:70px;
  background:#111;
}

.ghost_left_eye{
  left:70px;
  transform: scale(.70);
}

.ghost_right_eye{
  right:70px;
}

.ghost_smile{
  position:absolute;
  width:40px;
  height:20px;
  border-radius: 7px 7px 50% 50%;
  background:#000;
  top: 109px;
  left: 106px;
}

.ghost_bottom{
  width:100%;
  height:1px;
  background:#fff;
  border: solid;
  /* border-color: grey; */
}

.ghost_floaty{
  width:20%;
  height:60px;
  background:#fff;
  float: left;
  border-radius:0 0 50% 50%;
  border: solid;
  /* border-color: grey; */

  animation: ghost_bottom_float 2.5s infinite;
  animation-fill-mode:both;
}


@keyframes ghost_bottom_float {
  0% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }

}

#ghost_floaty_1{
  animation-delay: .5s
}
#ghost_floaty_2{
  animation-delay: 1.5s
}
#ghost_floaty_3{
  animation-delay: 1s
}
#ghost_floaty_4{
  animation-delay: 2s
}

@keyframes ghost_body_float {
  0% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }

}
